@charset "UTF-8"
body {
    background-color:black
    font-family: Arial, Helvetica, sans-serif;
    font-size 20px;
}

h1 {
    color:darkblue;
    background-color:gold;
}

h2 {
    background-color: brown;
    color: lightcoral;
}

p {
    color:lightcoral;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}