@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
    /*tamanho minimo da minha viewport*/
}

header {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    /*centralizou todo cabeçario*/
}

header>h1 {
    padding-top: 50px;

    font-variant: small-caps;
    /*meio q deixa todo o texto em maiusculo mas com as primeiras letras mais destacadas, diferente do text-transform uppercase q dxa td gritante*/

}

header>p {
    /*é o paragrafo que ta o nome do autor*/
    padding-bottom: 50px;
    /*somando com o padding top do h1, deixou o cabeçario mais simetrico com 50 px top e bottom*/
}

a {
    color: white;
    text-decoration: none;
    /*tira o sublinhado do link*/
    font-weight: bolder;
    /*fonte*/

}

a:hover {
    text-decoration: underline;
    /*ao passar o mouse no link ficará sublinhado*/
}

section { /*criou o espaço necessario entre os poemas, onde q vai estar entrando as iamgens para o efeito paralax*/
   padding: 10vh 0 10vh 30px;
    line-height: 2em; /*espaçamento entre as frases*/
}

section.normal {
    background-color: white;
    color: black;
}

section.image {
    background-color: rgb(53, 53, 53);
    color: white;
}
section.image > p { /*criamos uma caixa pra quando for adicionada imagem no fundo, não confundir as caixas*/
    background-color: rgba(0, 0, 0, 0.247);
    width: 400px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;

}